/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
ul.language-switcher-locale-url{
list-style-type: none;
float: left;
margin: 0;
padding: 0;
}

ul.language-switcher-locale-url li{
float: left;
padding: 5px;
}
ul.language-switcher-locale-url li:hover, ul.language-switcher-locale-url li.active:hover{
background: rgba(255, 238, 108, 1);
}
ul.language-switcher-locale-url li.active{background: rgba(195, 254, 184, 1);}

.language-switcher-locale-url .en img {width: 18px;}

#block-search-form {float: right;}

#block-views-news-slider-block-1 .views-slideshow-pager-field-item {
font-size:0;
border-radius:100%;
background:#00E;
width: 15px;
height: 15px;
float: left;
margin-right:5px;
}
#block-views-news-slider-block-1 .views-slideshow-pager-field-item.active{
background:#00B5EE;
}

#block-views-news-slider-block-1 {
/*background: #6E93CB;*/
}

#block-views-news-slider-block-1 .view-id-news_slider {
margin: 0px auto;
max-width: 1200px;
position: relative;
height: 300px; /*  костыль*/
}

#widget_pager_bottom_news_slider-block_1 {
position: absolute;
bottom: 25px;
right: 35px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.49);
padding: 5px;
-moz-animation: ;
z-index: 250;}
#views_slideshow_cycle_main_news_slider-block_1 .slider-title {
text-decoration:underline;
}

#views_slideshow_cycle_main_news_slider-block_1 .views-row .views-field-body {
position: absolute;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.49);
top: 50px;
left: 20px;
color: #fff;
padding: 0 20px;
}

.view-display-id-front_page .views-row-odd {/*background:#EBFEC8*/}
.view-display-id-front_page .views-row-even {/*background:#CDFCD9*/}
.view-display-id-front_page .views-row {}

#block-webform-client-block-15 {/*background:#FFFF86;*/}

#sub-header {
float:right;
}
#search-block-form {
float:left;
}
#block-webform-client-block-15  input{
width:100%;
}
#block-webform-client-block-15  input[type="submit"]{
width:100%;
background: #ccc;
border: none;
height: 2em;
}

.front-title, #block-webform-client-block-15 .block-title {text-align:center;}
.front-title, .front-body, #block-webform-client-block-15 .block-title, .webform-client-form-15 {
max-width:1200px;
margin: 0 auto;
background: rgba(255, 255, 255, 0.3);
}