/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic);
/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
ul.language-switcher-locale-url{
list-style-type: none;
float: left;
margin: 0;
padding: 0;
}

ul.language-switcher-locale-url li{
float: left;
padding: 5px;
}
ul.language-switcher-locale-url li:hover, ul.language-switcher-locale-url li.active:hover{
background: #00B5EE;
}
ul.language-switcher-locale-url li.active{background: rgba(195, 254, 184, 1);}

.language-switcher-locale-url .en img {width: 18px;}

#block-search-form {float: right;}

#block-views-news-slider-block-1 .views-slideshow-pager-field-item {
font-size:0;
border-radius:100%;
background:#fff;
width: 15px;
height: 15px;
float: left;
margin-right:5px;
}
#block-views-news-slider-block-1 .views-slideshow-pager-field-item.active{
background:#00B5EE;
}

#block-views-news-slider-block-1 {
/*background: #6E93CB;*/
}
.views-field-field-news-image {
 display: inline-block;
width:auto;
height:300px;
/*overflow-x:hidden;*/
position:relative;
}

#block-views-news-slider-block-1 img {
height:300px;
width:100%;
}
#block-views-news-slider-block-1 .view-id-news_slider {
margin: 0px auto;
max-width: 1200px;
position: relative;
height: 300px; /*  костыль*/
}

#widget_pager_bottom_news_slider-block_1 {
position: absolute;
bottom: 25px;
right: 35px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.49);
padding: 5px;
-moz-animation: ;
z-index: 250;}
#views_slideshow_cycle_main_news_slider-block_1 .slider-title {
text-decoration:underline;
}

#views_slideshow_cycle_main_news_slider-block_1 .views-row .views-field-body {
position: absolute;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.49);
top: 50px;
left: 20px;
color: #fff;
padding: 0 20px;
}

.view-display-id-front_page .views-row-odd {/*background:#EBFEC8*/}
.view-display-id-front_page .views-row-even {/*background:#CDFCD9*/}
.view-display-id-front_page .views-row {}

#block-webform-client-block-15 {/*background:#FFFF86;*/}

#sub-header {
float:right;
}
#search-block-form {
float:left;
line-height: 2em;
padding-left: 10px;
}
#search-block-form input[type="submit"] {
height: 28px;
width: 30px;
}
.form-item-search-block-form {
display: block;
float: left;
}
#block-webform-client-block-15  input{
width:100%;
}
#block-webform-client-block-15  input[type="submit"]{
width:100%;
background: #F39A26;
border: none;
height: 2em;
}
#block-webform-client-block-15 fieldset {
border-color:#F39A26;
}
#block-webform-client-block-15 input[type="checkbox"] {
width: initial;
}
.front-title, #block-webform-client-block-15 .block-title {
text-align: center;
padding-top: 15px;
line-height: 1.5em;
font-size: 1.5em;
font-weight: inherit;
}
.front-title, .front-body, #block-webform-client-block-15 .block-title, .webform-client-form-15 {
max-width:1200px;
margin: 0 auto;
background: #3D6B99;;
}

.view-display-id-front_page .views-row-even .front-title, .view-display-id-front_page .views-row-even .front-body ,#block-webform-client-block-15 .block-title, .webform-client-form-15 {
background:#6A85A2;
}
#content {
color:#fff;
}
#content a {
color:#00B5EE;
}

/*.front-body {
border-bottom: 1px solid #fff;
}*/

/* 3d link */
.cl-effect-2 a {
line-height: 30px;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
perspective: 1000px;
}

.cl-effect-2 a span {
position: relative;
display: inline-block;
padding: 0 14px;
background: #2195de;
-webkit-transition: -webkit-transform 0.3s;
-moz-transition: -moz-transform 0.3s;
transition: transform 0.3s;
-webkit-transform-origin: 50% 0;
-moz-transform-origin: 50% 0;
transform-origin: 50% 0;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
}

/*.csstransforms3d*/ .cl-effect-2 a span::before {
position: absolute;
text-align:center;
top: 100%;
left: 0;
width: 100%;
height: 100%;
background: #0965a0;
content: attr(data-hover);
-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
transition: background 0.3s;
-webkit-transform: rotateX(-90deg);
-moz-transform: rotateX(-90deg);
transform: rotateX(-90deg);
-webkit-transform-origin: 50% 0;
-moz-transform-origin: 50% 0;
transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
-webkit-transform: rotateX(90deg) translateY(-22px);
-moz-transform: rotateX(90deg) translateY(-22px);
transform: rotateX(90deg) translateY(-22px);
}

/*.csstransforms3d */.cl-effect-2 a:hover span::before,
/*.csstransforms3d */.cl-effect-2 a:focus span::before {
background: #28a2ee;	
}

#block-switchtheme-switch-form {
    position: absolute;
    right: 0px;
    top: 0px;
}
}